<%= content_for :css do %>
    <%= stylesheet_link_tag 'css/styles.css' %>
    <%= stylesheet_link_tag 'css/bootstrap/css/bootstrap.min.css' %>
<% end %>
<%= render 'header' %>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="well">
              <h1 class="page-header">
                  <%= "#{Time.now.to_date}日报" %>
              </h1>
              <form role="form" action="dailies" method="get">
                <div class="form-group">
                  <input name="date" placeholder="请输入日期" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">查看</button>
              </form>
              <% @dailies.each do |daily| %>
                <h3><%= daily.user.name %>&nbsp;&nbsp;<small><%= "#{daily.created_at}" %></small></h3>
                <h4><%= daily.title%></h4>
                <p><%= daily.content %></p>
                <hr>
              <% end %>
            </div>
            <ul class="pager">
                <li class="previous">
                    <a href="<%= "/?current_page=#{@current_page - 1}" %>">&larr; 上一页</a>
                </li>
                <li class="next">
                    <a href="<%= "/?current_page=#{@current_page + 1}" %>">下一页 &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
