<%= content_for :css do %>
    <%= stylesheet_link_tag 'css/styles.css' %>
    <%= stylesheet_link_tag 'css/bootstrap/css/bootstrap.min.css' %>
<% end %>
<%= render 'header' %>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="well">
            <h1 class="page-header">
                <%= "个人日报" %>
            </h1>
              <h4><%= @daily.title %></h4>
              <p><%= @daily.content %></p>
              <span class="pull-right"><a href="<%="/dailies"%>">返回</a></span><span><a href="<%="/dailies/#{@daily.id}/edit"%>">修改</a></span>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
